* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  color-scheme: dark light;
}
body {
  font-size: 16px;

  font-family: "Roboto", sans-serif;
}
.container-main {
  width: 80%;
  margin: 0 auto;
  background-color: #f8f9fa;
}
nav {
  padding: 20px;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 50;
}
.nav-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.nav-content > a,
footer > a {
  text-decoration: none;
  text-transform: uppercase;
  word-spacing: 1.5px;
  line-height: 2;
  margin-bottom: 2px;
}
.nav-content a:hover {
  border-bottom: 1px solid #fff;
}
/***Mobile Icons for Mobile Devices*/
.mobile-container {
}
.mobile-content {
  display: none;
  flex-direction: column;
  row-gap: 20px;
  width: 200px;
  padding: 20px;
  position: absolute;
  top: 50px;
  left: 0px;
  background-color: #48cae4;
  z-index: 50;
}
.mobile-content a {
  text-decoration: none;
  color: white;
}
.mobile-content a:hover {
  text-decoration: underline;
}
.hamburger-icon,
.close-icon {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 30;
  margin-bottom: 20px;
}

.btn-mobile {
  margin-left: 0;
}

/***MODAL for Contact Form****/
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  top: 0;
  width: 80%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border-radius: 8px;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
/* Add Animation */

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 15px;
  background-color: #48cae4;
  color: white;
}
.modal-header > h2 {
  padding-top: 20px;
}

.modal-body {
  padding: 15px;
}
.box {
  font-family: "Roboto", sans-serif;
}
.box > input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 70%;
  font-family: "Roboto", sans-serif;
}
.message-text-area {
  padding: 10px;
  width: 70%;
  height: 100px;
  font-family: "Roboto", sans-serif;
  border: 1px solid lightgray;
}
.btn-form {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}
/**********************/

.btn {
  padding: 12px 24px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  background-color: #48cae4;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  border: outset;
  border: none;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}
.btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

/****HEAD*****/
.main-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 100%;
}
h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 30px;
}
.main-text > p {
  line-height: 2;
  font-size: 20px;
  font-weight: 400;
}
.link--website {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
.link--website:hover {
  text-decoration: underline;
}

/****RECENT PROJECTS****/
.recent-section {
  margin-top: 30px;
}
.recent-main {
  width: 100%;

  padding: 10px 10px 100px;
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.recent-card {
  height: 300px;
  width: 300px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.recent-img-card {
  width: 100%;
  height: 100%;
}
.recent-img {
  width: 100%;
  height: 100%;
}

/****HTML IMAGES SLIDE****/
.frontend,
.codewell-section,
.react-code,
.API-section {
  padding-top: 30px;
}
h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}
/***FRONTEND*****/
.frontend {
  width: 80%;
  margin: 0 auto 50px;
  text-align: center;
}

.slider-container {
  width: 80%;
  margin: 0 auto;
  height: 500px;
  max-width: 80rem;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 3rem;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #fff;
  display: grid;
  place-items: center;
  transition: all 0.25s ease-in-out;
  text-align: center;
}
.slide-img {
  height: 100%;
  width: 500px;
  max-width: 100%;
}
.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
}
.prevBtn,
.nextBtn {
  background-color: transparent;
  border-color: transparent;
  font-size: 1.75rem;
  cursor: pointer;
  margin: 0 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: grey;
  transition: all 0.3s linear;
}
@media screen and (min-width: 576px) {
  .slider-container {
    height: 45vh;
  }
}
@media screen and (min-width: 768px) {
  .slider-container {
    height: 55vh;
  }
}
@media screen and (min-width: 992px) {
  .slider-container {
    height: 65vh;
  }
}

/******/
/***CODEWELL SECTION****/

.codewell-main {
  width: 100%;
  padding: 10px 10px 100px;
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.codewell-card {
  height: 300px;
  width: 300px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.codewell-img-card {
  width: 100%;
  height: 100%;
}
.codewell-img {
  width: 100%;
  height: 100%;
}

/*****FOOTER*****/
footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer > a:hover {
  border-bottom: 2px solid #fff;
}
/****API-images****/
.api-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  width: 90%;
  margin: 0 auto 100px auto;
}
.api-item {
  width: 300px;
  height: 300px;
  border: 8px solid #90e0ef;
  border-radius: 9px;
}
.api-image,
.react-img {
  width: 100%;
  height: 100%;
}

/***MEDIA QUERIES*****/
@media (prefers-color-scheme: dark) {
  .container {
    background-color: #000;
    color: #fff;
  }
  nav,
  footer,
  button,
  .modal-header {
    background-color: #212529;
  }
}
@media only screen and (max-width: 1100px) {
  .container-main {
    width: 100%;
  }
}

@media only screen and (max-width: 875px) {
  .nav-content {
    width: 100%;
    gap: 20px;
  }
  .api-container {
    /*grid-template-columns: 1fr 1fr;
		justify-content: center;*/
  }
}

@media only screen and (max-width: 600px) {
  .nav-content {
    display: none;
  }
  .hamburger-icon {
    display: flex;
  }

  footer {
    flex-direction: column;
    height: auto;
  }
  .container-main,
  nav,
  .modal {
    width: 100%;
  }
  nav {
    padding-bottom: 50px;
    display: block;
  }
  nav > a {
    display: block;
    text-align: center;
  }
  .btn {
    margin-left: 33%;
  }
  .modal-content {
    width: 80%;
  }
  .api-container {
    /*		grid-template-columns: 1fr;*/
  }
  .api-item {
    width: 330px;
  }
}
